.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  gap: 15px;
  width: 100%;
  padding: 0 15px;
}

.pagination button {
  padding: 8px 16px;
  background-color: #c98787;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > button {
  min-width: 110px;
}

.pagination button:hover:not(.disabled):not(.active) {
  background-color: #392c32;
}

.pagination button.active {
  background-color: #4ca294;
  font-weight: bold;
}

.pagination button.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.page-numbers {
  display: flex;
  gap: 5px;
  align-items: center;
}

.page-numbers .ellipsis {
  margin: 0 5px;
  font-weight: bold;
  color: #666;
}

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
  }
  
  .page-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 300px;
  }
  
  .page-numbers button {
    margin: 3px;
  }
  
  .pagination > button {
    min-width: 120px;
    padding: 10px;
    margin: 5px 0;
  }
}