.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}



.login-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  z-index: 1;
}

.login-logo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.login-logo h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}